* {
	padding: 0;
	margin: 0;
}

.container {
	width: 1920px;
	margin: 0 auto;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family:'Raleway';
	src: url(../fonts/raleway-regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family:'Raleway';
	src: url(../fonts/raleway-light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family:'Raleway';
	src: url (../fonts/raleway-bold.ttf);
	font-weight: bold;
}

header {
	min-height: 1024px;
	background-color: #998675;
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	padding: 40px 350px;
	box-sizing: border-box;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	
}

.logo-link {
	display: flex;
	justify-content: center;
	width: 180px;
	text-decoration: none;
}

.logo-link-svg {
	fill: #fff;
}

.logo-link-txt {
	color: #fff;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;
}

.logo-link:hover .logo-link-svg {
	fill: #c7b299;
}

.logo-link:hover .logo-link-txt {
	color: #c7b299;
}

.logo-link:active .logo-link-svg {
	fill: gold;
}

.logo-link:active .logo-link-txt {
	color: gold;
}

nav {
	margin-top: 20px;
	display: flex;
}

.nav-list {
	list-style-type: none;
	width: 637px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.nav-link {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.nav-link:hover {
	color: #c7b299;
}

.nav-link:active {
	color: gold;
}

.active-link {
	color: #c7b299;
}

.cart {
	width: 20px;
	height: 25px;
	background-image: url(../img/cart.png);
	background-repeat: no-repeat;
	margin-left: 40px;
}

.cart:hover {
	width: 20px;
	height: 25px;
	background-image: url(../img/cart.png);
	background-repeat: no-repeat;
/*	margin-left: 60px;*/
	filter: brightness(50%);
}

.search {
	width: 25px;
	height: 25px;
	outline: none;
	background-image: url('../img/search.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	padding: 2px 5px;
	color: white;
	width: 25px;
	transition: width 1s ease-out;
	background-position: right;
	background-color: transparent;
	border: none;
}

.search:hover{
	filter: brightness(50%);
}

.search:focus {
	width: 300px;
	transition: width 1s ease-out;
	background-position: right;
}

/* section carousel-item */

.header-item-title2 {
	font-size: 36px;
	font-family:'Raleway', sans-serif; 
	color: white;
	font-weight: normal;
	text-align: center;
	margin-top: 270px;
}

.header-item-title1 {
	font-family:'Raleway', sans-serif; 
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 52px;
}

.header-item-title1:before {
	width: 70px;
	height: 70px;
	border-right: 1px solid white;
	border-top: 1px solid white;
}

.arrow-box{
	display: flex;
	width: 100%;
	justify-content: space-between;

}

.arrow-l {
	width: 50px;
	height: 50px;
	border-top: 3px solid #a3a2a0;
	border-right: 3px solid #a3a2a0;
	transform: rotate(-135deg);
}

.arrow-l:hover , .arrow-r:hover {
	border-top: 3px solid #c7b299;
	border-right: 3px solid #c7b299;
}

.arrow-l:active , .arrow-r:active {
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
}

.arrow-r {
	width: 50px;
	height: 50px;
	border-top: 3px solid #a3a2a0;
	border-right: 3px solid #a3a2a0;
	transform: rotate(45deg);

}

.header-item-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
	width: 570px;
	margin: 0 auto;
}


.get-started {
	width: 100px;
	display: block;
	font-family:'Raleway', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border-radius: 3px;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #998675;
	text-align: center;
	margin: 50px auto 0 auto;
}

.get-started:hover {
	background-color:  #fff;
	border-bottom: 3px solid #998675;
	color: #736356;
}

.get-started:active {
	color:  #fff;
	background-color: #998675;
	box-shadow: inset 2px 2px 5px white;
}

.pagination {
	width: 120px;
	display: flex;
	justify-content: center;
	margin: 280px auto 0;
	position: relative;
}

.pagination-link:after {
	content:"";
	display: block;
	width: 10px;
	min-height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

.pagination-link:hover:after {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #a4a3a1;
  border-radius: 50%;
}

.pagination-link {
  position: absolute;
  bottom: 30px;
}
.pagination-link:nth-child(1) {
  left: 12%;
}
.pagination-link:nth-child(2) {
  left: 28%;
}
.pagination-link:nth-child(3) {
  left: 44%;
}
.pagination-link:nth-child(4) {
  left: 60%;
}
.pagination-link:nth-child(5) {
  left: 76%;
}


/*Section.services*/

.services {
	display: flex;
	padding: 80px 350px;
	justify-content: space-between;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-align: center;
  color: #555555;
  background-color: #fff;
}

.services-item:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #555555;
}

.services-item:hover .services-icon {
  fill: #998675;
}

.services-item:hover .services-title {
  color: #998675;
}

.services-item:hover:after {
 background-color: #998675;
}

.services-icon {
  fill: #555555;
  margin: 0 0 15px 0;
}

.services-title {
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: bold;
  font-family:'Raleway', sans-serif;  
  font-size: 22px;
}

.services-txt {
  margin: 0 0 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.realization {
	padding: 80px 350px 0 350px;
	/*display: flex;*/
	color: #555555;
	background-color: #fbfaf8;
}

.realization-title {
	font-family:'Raleway', sans-serif; 
	font-size: 30px; 
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.realization-txt {
	width: 750px;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 400;
	 font-size: 16px;
	 text-align: center;
	 margin: 0 auto;
}

/* Реализация множественным статичным  фоном

.realization-img {
	margin-top: 20px;
	min-height: 480px;
	width:100%;
	position: relative;
	background: url(../img/browser-center.jpg) center no-repeat,
				url(../img/browser-left.jpg) bottom left no-repeat,
				url(../img/browser-right.jpg) bottom right no-repeat;
}*/

.test {
	display: flex;
	position: relative;
	min-height: 480px;
	margin-top: 20px;
}

.bg-one {
	width: 770px;
	min-height: 400px;
	z-index: 1;
	background: url(../img/browser-left.jpg) no-repeat;
	position: absolute;
	top: 80px;
}

.bg-two {
	width: 770px;
	min-height: 400px;
	position: absolute;
	z-index: 3;
	left: 225px;
	background: url(../img/browser-center.jpg) no-repeat;
}

.bg-three {
	width: 770px;
	min-height: 400px;
	position: absolute;
	z-index: 2;
	position: absolute;
	top: 80px;
	left: 450px;
	background: url(../img/browser-right.jpg) no-repeat;
}

.bg-one:hover {
	z-index: 4;
}

.bg-three:hover {
	z-index: 4;
}

/* aside */
 
aside {
	background-color: #3f2b22;
	padding: 50px 350px;
	display: flex;
	justify-content: space-between;
}

.aside-title {
	font-family:'Raleway', sans-serif; 
	font-size: 28px; 
	text-align: center;
	font-weight: normal;
	color: #c7b299;
}

.aside-slogan {
	font-family:'Raleway', sans-serif; 
	font-size: 28px; 
	text-align: center;
	font-weight: normal;
	color: white;
}

.aside-txt {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #615855;
}

.aside-btn {
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color:  #998675;
  /* padding: ; */
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #736356;
}

.aside-btn:hover {
  background-color:  #736356;
  border-bottom: 3px solid #998675;
}

.aside-btn:hover .aside-btn-txt {
  color:  #ccc;
}

.aside-btn:active .aside-btn-txt {
  color:  #fff;
}

.aside-btn-txt {
  margin: auto;
  font-family:'Raleway', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
}

/* Section projects */

.projects {
	padding: 80px 350px;
}

.projects-title {
	font-family:'Raleway', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #555555;
	text-align: center;
	margin-bottom: 30px;
}

.projects-txt {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #555555;
	text-align: center;
	width: 750px;
	margin: 0 auto;
}

/*.projects-nav {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 600px;
	margin: 40px auto;
}

.projects-link {
	display: block;
	color: #8c8c8c;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 10px 20px;
}

.projects-link:hover {
	color: white;
	background-color: #998675;
}
*/

.projects-nav {
	display: flex;
	justify-content: space-between;
	width: 650px;
	margin: 40px auto;
}

.projects-nav-btn {
	display: block;
	color: #8c8c8c;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 10px 20px;
	background-color: #fff;
}

.projects-nav-btn:hover {
	color: white;
	background-color: #998675;
}

.projects-nav-btn:active {
	color: #8c8c8c;
	background-color: #fff;
}

/* projects-items */

.projects-items-block {
	display: flex;
	justify-content: space-between;
}

.projects-items {
  width: 370px;
  position: relative;
  margin-bottom: 50px;
}

.projects-items:hover .projects-items-btn-link {
  display: block;
}

.projects-items:hover .projects-items-btn-search {
  display: block;
}

.projects-items:hover .projects-items-btn-link:hover {
  background-image: url(../img/link1.png);
}

.projects-items:hover .projects-items-btn-search:hover {
  background-image: url(../img/lupa1.png);
}

.projects-items:hover .projects-items-photo {
  filter: brightness(50%);
}

.projects-items:hover .projects-items-title {
  color: #f2f1f1;
}

.projects-items:hover .projects-items-txt {
  color: #c7b299;
}

.projects-items:hover .projects-items-txt-wrapper {
  background-color: #362f2d;
}

.projects-items:hover .projects-items-txt-wrapper:before {
  border-bottom: 10px solid #362f2d;
}

.projects-items-photo {
  width: 100%;
  display: block;
}

.projects-items-txt-wrapper {
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    background-color: #fbfaf8;
}

.projects-items-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -18px;
  left: 19px;

}

.projects-items-title {
  display: block;
  padding: 25px 10px 0 25px;
  font-family:'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
}

.projects-items-txt {
  display: block;
  padding: 5px 5px 25px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #d1d1d1;
}

.projects-items-btn-link,
.projects-items-btn-search {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%
}

.projects-items-btn-link {
  background-image: url(../img/link.png);
  left: 35%;
}

.projects-items-btn-search {
  background-image: url(../img/lupa.png);
  right: 35%;
}

.projects-btn {
  display: block;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color:  #998675;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #736356;
  margin: 0 auto;
  font-family:'Raleway', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
}

.projects-btn:hover {
  background-color:  #736356;
  border-bottom: 3px solid #998675;
  color:  #ccc;
}

.projects-btn:active {
  color:  #fff;
}

.video {
	width: 1920px;
	min-height: 700px;
	position: relative;
}

.video-controls {
	position: absolute;
	width: 550px;
	top: 37%;
	left: 37%;
	text-align: center; 
	color: #fff;
}

.video-play {
	width: 70px;
	height: 70px;
	margin-bottom: 35px;
	background: url(../img/icon-play.png) no-repeat;
	border: none;
}

.video-title {
	font-family:'Raleway', sans-serif;
	font-size: 30px;
	margin-bottom: 25px;
}

.video-txt {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-bottom: 40px;
}



